body.dearbella {
   font-family: 'Press Start 2P', cursive;
  background: linear-gradient(270deg,#590016,#800020,	#4c0013);
  background-size: 400% 400%;
  animation: bgmove 10s infinite;
}

@keyframes bgmove {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1 { font-size:2.5rem; color:#800020; margin-top:20px;}
#gameBoard { position:relative; width:100%; height:80vh;}
.card { width:80px; height:80px; perspective:800px; cursor:pointer;}
.card-inner { width:80%; height:80%; position:relative; transform-style:preserve-3d; transition:0.6s;}
.card.flipped .card-inner { transform:rotateY(180deg);}
.card-front, .card-back {
  position:absolute;
  width:80%;
  height:80%;
  backface-visibility:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;   /* жаахан булан дугуй */
  cursor:pointer;
}
.card-front { background:#4c0013; color:white; font-size:2rem; }
.card-back { transform:rotateY(180deg); overflow:hidden; }
.card-back img { width:80%; height:80%; object-fit:cover; }
.card.matched .card-back { box-shadow:0 0 15px #ffddc0; border-color:#ffffff;}
#heartCanvas { position:fixed; top:0; left:0; width:80%; height:80%; pointer-events:none; z-index:0;}
#hint {
  position: fixed;
  bottom: 20px;   /* доод */
  right: 20px;    /* баруун */
  font-size: 1.6rem;
  color: #800020;
  opacity: 0.9;
  z-index: 10;
  line-height: 1.4;
  text-align: right;
     background: rgba(255,255,255,0.5);
  padding: 10px 15px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
}

