body.dearbella { background-color:#b7ddf2; font-family:'Bangers', cursive; text-align:center; margin:0; padding:0;}
h1 { color:#800020; font-size:2.5rem; margin-top:20px;}
#gameBoard { position:relative; width:100%; height:80vh;}
.card { width:100px; height:100px; perspective:800px; cursor:pointer;}
.card-inner { width:100%; height:100%; position:relative; transform-style:preserve-3d; transition:0.6s;}
.card.flipped .card-inner { transform:rotateY(180deg);}
.card-front, .card-back { position:absolute; width:100%; height:100%; backface-visibility:hidden; display:flex; justify-content:center; align-items:center; border-radius:15px;}
.card-front { background:#ffb6c1; font-size:2rem; color:white; clip-path:polygon(50% 0%,61% 14%,75% 25%,85% 38%,90% 50%,85% 62%,75% 75%,61% 86%,50% 100%,39% 86%,25% 75%,15% 62%,10% 50%,15% 38%,25% 25%,39% 14%);}
.card-back { transform:rotateY(180deg); overflow:hidden; clip-path:polygon(50% 0%,61% 14%,75% 25%,85% 38%,90% 50%,85% 62%,75% 75%,61% 86%,50% 100%,39% 86%,25% 75%,15% 62%,10% 50%,15% 38%,25% 25%,39% 14%);}
.card-back img { width:100%; height:100%; object-fit:cover;}
.card.matched .card-back { box-shadow:0 0 15px #ffddc0; border-color:#ffffff;}
#heartCanvas { position:fixed; top:0; left:0; width:100%; height:100%; pointer-events:none; z-index:0;}
