body.dearbella {
   font-family: 'Press Start 2P', cursive;
  background: linear-gradient(270deg,#590016,#800020,	#4c0013);
  background-size: 400% 400%;
  animation: bgmove 10s infinite;
    text-align:center;
  margin:0;
  padding:0;
  height:100vh;        /* чухал */
  overflow:hidden;    /* чухал */
}

@keyframes bgmove {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1 { font-size:2.5rem; color:#800020; margin-top:20px;}
#gameBoard { position:relative; width:95%; height:90vh;}
.card { width:95px; height:95px; perspective:800px; cursor:pointer;}
.card-inner { width:95%; height:95%; position:relative; transform-style:preserve-3d; transition:0.6s;}
.card.flipped .card-inner { transform:rotateY(180deg);}
.card-front, .card-back {
  position:absolute;
  width:95%;
  height:95%;
  backface-visibility:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;   /* жаахан булан дугуй */
  cursor:pointer;
}
.card-front { background:#4c0013; color:white; font-size:2rem; }
.card-back { transform:rotateY(180deg); overflow:hidden; }
.card-back img { width:95%; height:95%; object-fit:cover; }
.card.matched .card-back { box-shadow:0 0 15px #ffddc0; border-color:#ffffff;}
#heartCanvas { position:fixed; top:0; left:0; width:95%; height:95%; pointer-events:none; z-index:0;}
#hint {
  position: fixed;
  bottom: 20px;   /* доод */
  left: 20px;    /* баруун */
  font-size: 1.6rem;
  color: #800020;
  opacity: 0.9;
  z-index: 10;
  line-height: 1.4;
  text-align: left;
     background: rgba(255,255,255,0.5);
  padding: 10px 15px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
}

#hintover {
   position: fixed;
   bottom: 30px;
  right: 30px;
   font-size: 2rem;
   text-align: right;
   color: #800020;
}

#menuBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;      /* энд л хэмжээг нь тохируулна */
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
