body.dearbella { background-color:#ffe6f0; font-family:'Bangers',cursive; text-align:center; margin:0; padding:0;}
h1 { font-size:2.5rem; color:#800020; margin-top:20px;}
#gameBoard { position:relative; width:100%; height:80vh;}
.card { width:100px; height:100px; perspective:800px; cursor:pointer;}
.card-inner { width:100%; height:100%; position:relative; transform-style:preserve-3d; transition:0.6s;}
.card.flipped .card-inner { transform:rotateY(180deg);}
.card-front, .card-back {
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;   /* жаахан булан дугуй */
  cursor:pointer;
}
.card-front { background:#ffb6c1; color:white; font-size:2rem; }
.card-back { transform:rotateY(180deg); overflow:hidden; }
.card-back img { width:100%; height:100%; object-fit:cover; }
.card.matched .card-back { box-shadow:0 0 15px #ffddc0; border-color:#ffffff;}
#heartCanvas { position:fixed; top:0; left:0; width:100%; height:100%; pointer-events:none; z-index:0;}
#hint {
  position: fixed;
  line-height: 1.4;
  top: 15px;
  right: 20px;
  font-size: 1.2rem;
  color: #800020;
  opacity: 0.8;
  z-index: 10;
}
