body {
  background-color: #b7ddf2;
  font-family: 'Bangers', cursive;
  text-align: center;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 15px;
  justify-content: center;
}

/* CARD FLIP */
.card {
  width: 100px;
  height: 100px;
  perspective: 800px;
}

.card-inner {
  width:100%;
  height:100%;
  position:relative;
  transform-style:preserve-3d;
  transition:0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility:hidden;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* FRONT – question mark */
.card-front {
  background:#ffb6c1;
  font-size:2rem;
  color:white;
  /* Зүрхэн хэлбэр CSS */
  clip-path: polygon(
    50% 0%, 
    61% 14%, 
    75% 25%, 
    85% 38%, 
    90% 50%, 
    85% 62%, 
    75% 75%, 
    61% 86%, 
    50% 100%, 
    39% 86%, 
    25% 75%, 
    15% 62%, 
    10% 50%, 
    15% 38%, 
    25% 25%, 
    39% 14%
  );
}

/* BACK – картны зураг */
.card-back {
  transform: rotateY(180deg);
  overflow:hidden;
  clip-path: polygon(
    50% 0%, 
    61% 14%, 
    75% 25%, 
    85% 38%, 
    90% 50%, 
    85% 62%, 
    75% 75%, 
    61% 86%, 
    50% 100%, 
    39% 86%, 
    25% 75%, 
    15% 62%, 
    10% 50%, 
    15% 38%, 
    25% 25%, 
    39% 14%
  );
}

.card-back img {
  width:100%;
  height:100%;
  object-fit:cover;
}

