body {
  background: linear-gradient(135deg, #4c0013, #800020);
  font-family: 'Bangers', cursive;
  text-align: center;
  margin:0;
  padding:0;
  overflow-x:hidden;
  height:100vh;
  color:#ffffff;
}

h1 {
  font-size: 2.8rem;
  margin-top: 20px;
  color:#ffddc0;
  text-shadow: 2px 2px #590016;
}

#gameBoard {
  position: relative;
  width: 100%;
  height: 100vh;
}

.card {
  width: 80px;
  height: 80px;
  perspective: 800px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-front {
  background-color: #ffddc0;
  font-size: 2rem;
  color:#800020;
  box-shadow: 0 0 5px #590016;
}

.card-back {
  transform: rotateY(180deg);
  overflow:hidden;
  border: 2px solid #ffddc0;
  border-radius: 15px;
}

.card-back img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.card.matched .card-back {
  box-shadow: 0 0 15px #ffddc0;
  border-color:#ffffff;
}

#heartCanvas {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:0;
}

