body {
  background-color: #b7ddf2;
  font-family: 'Bangers', cursive;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
}

#gameBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card.flipped {
  transform: scale(1.2);
}

#confettiCanvas {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
